* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: black;
}
.employees {
  margin: 10%;
  width: 70%;
  padding: 5vw;
  background-color: white;
}
.employee {
  background-color: beige;
  text-align: center;
  margin: 5vw;
}
.employee__name {
  font-weight: bold;
  font-size: 5vw;
  padding: 2vw;
}
.employee__department {
  font-weight: bold;
  text-align: left;
  padding: 1vw;
}
.employee__equipment {
  font-weight: bold;
  text-align: left;
  padding: 1vw;
}